<?xml version="1.0" encoding="ISO-8859-1"?><config><apptitle>threshold.fm</apptitle><txinicio>Playing nothing but the finest Drum And Bass known to man.</txinicio><txiniciotitulo>Threshold.fm</txiniciotitulo><txnored>You do not have Internet Access at this time. Please enable Internet access.</txnored><txnoredtitulo>No Internet Access</txnoredtitulo><txnoredretry>Retry</txnoredretry><txnoredsalir>Quit</txnoredsalir><laurl>https://threshold.fm</laurl><txquieresalir>Do you want to exit this application ?</txquieresalir><txquieresalirtitulo>Application Exit</txquieresalirtitulo><txquieresalirsi>Exit</txquieresalirsi><txquieresalirno>Cancel</txquieresalirno><txfiltro>no</txfiltro><txfiltrourl>google</txfiltrourl><posicion>ver</posicion></config>
